nav {
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  align-items: center;
  background-color: darkslategray;
  color: antiquewhite;
}

nav .navBar {
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

nav .navLink {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

nav .navLink button {
  background-color: darkslategray;
  border: none;
  color: white;
  padding: 2px 15px;
  text-align: center;
  font-size: 16px;
  border-radius: 12px;
  transition: 0.3s;
}
nav .navLink button:hover {
  background-color: rgb(69, 114, 114);
  color: white;
}

.body {
  padding-left: 50px;
}
body .name {
  padding-left: 700px;
}

.pdf-container {
  margin: auto;
  width: 70%;
  height: 950px;
  background-color: rgba(81, 138, 138, 0.301);
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}
.error-msg {
  width: 100%;
  color: red;
  font-size: 12px;
  font-weight: 600;
}
